<div class="padded">

<h3>Sélectionnez un ou plusieurs looks :</h3>

  <div class="container">
    <div class="row">
    <%Look.all.each do |look| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card-look" >
            <div class="card-name"><%= look.name %> </div>
            <div class="card-filter" style="background-image: url('<%= image_path look.photo %>') ">
            </div>
            <div class="card-check hide">
              <i class="fa fa-check"></i>
            </div>

        </div>
      </div>
      <%end %>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "Rechercher", products_path, class: "btn btn-primary" %>
  </div>


</div>


<% content_for :after_js do %>

<script>
  $(function(){
    $('.card-look').click(function() {
      $(this).children(".card-check").toggleClass('hide');
    });

    var looks = function(){
      return "test"
    }
  });


</script>

<% end %>
