<div class="footer">

<div class="newsletter">
   <form class="form-inline text-center">
    <input placeholder="Votre adresse email" class="form-control" type="email" name="email">
    <button type="submit" class="navbar-wagon-item navbar-wagon-button btn">Je me tiens informé</button>
  </form>
</div>

<div class="container">
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="#" class="share-link bg-text">
      <i class="fa fa-mobile"></i>
    </a>
  </div>
</div>
<p id="p-footer" class="text-center"> © AdopteUnStyle, Inc.</p>
</div>
