<div class="footer">
  <div class="container text-center">
    <div class="share-links">
      <a href="#" class="share-link">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="share-link">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="share-link">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="#" class="share-link">
        <i class="fa fa-pinterest"></i>
      </a>
    </div>
  </div>
</div>
  <div class="mentions-legales">
   <p id="p-footer" class="text-center"> © AdopteUnStyle, Inc.</p>
  </div>
