<div class="footer">
  <div class="container text-center">

    <div class="share-links">
      <a href="https://www.facebook.com/Monsieur-Mode-Shop-La-Boutique-Homme-497697997101649" class="share-link">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com/monsieurmode" class="share-link">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/monsieur.mode" class="share-link">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://fr.pinterest.com/monsieurmode" class="share-link">
        <i class="fa fa-pinterest"></i>
      </a>
    </div>
  </div>
</div>

<div class="mentions-legales">
  <p id="p-footer" class="text-center">
    © 2016 <a href="http://www.monsieur-mode.com">Monsieur Mode</a>
  </p>
</div>


