.banner {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  // position: relative;
}

.banner-parallax{
    background-attachment: fixed;
    height: 250px;
    padding: 200px;
}

.banner-content {
    font-weight: lighter;
}

.banner-home{
  background-image: image-url("image-banner.jpeg")
}

.banner-parallax1 {
  background-image: image-url("image-parallax.jpg")
}

.banner-parallax2 {
  background-image: image-url("image3-parallax.jpg")
}
