.wrapper-black {
  color: white;
  font-weight: lighter;
  border-radius: 10px;
  background: black;
  opacity: 0.8;
  padding: 0px 20px 20px 20px;
  margin: 20px auto;
}

.wrapper-white {
  font-weight: lighter;
  border-radius: 10px;
  background: white;
  opacity: 0.5;
  padding: 10px;

}

